sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
#使用淘宝源  npm publish的时候要注释掉，因为不注释掉就发布到淘宝源去了
registry = http://registry.npm.taobao.org
